@import url('https://fonts.googleapis.com/css2?family=Comforter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
@font-face {
    font-family: Campanella; /* Имя шрифта */
    src: url(fonts/Campanella.ttf); /* Путь к файлу со шрифтом */
}
body{
    margin: 0;
    background-color: #1A5B35;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    box-sizing: border-box;
    position: relative;

}
.wrapper{
    width: 662px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.content {
    text-align: center;
}
.content h1{
    font-family: 'Campanella', sans-serif;
    font-weight: 400;
    font-size: 72px;
    line-height: 115px;
    color: #CEB076;
    margin: 0;
}
.content p{
    font-family: Poiret One, sans-serif ;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}
.sign{
    display: flex;
    justify-content: center;
    width: 100%;
    text-align: center;
}
.sign p{
    font-family: Poiret One, sans-serif ;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}
.logo{
    margin-top: 100px;
}

.top-left{
    position: absolute;
    top: 0;
    left: 0;
}
.bottom-left{
    position: absolute;
    bottom: 0;
    left: 0;
}
.music_block{
    /*display: flex;*/
    /*!*width: 30px;*!*/
    /*flex-direction: column;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    /*box-sizing: border-box;*/

    position: absolute;
    bottom: 80px;
    left: 20px;
    /*box-sizing: border-box;*/
    text-align: center;
}
.music_block img{
    width: 100%;

    margin-top: 10px;
}
.music_block p{
    margin: 0;
    color: white;
    font-family: Poiret One, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 11px;
}
.music_text{
    /*position: absolute;*/
    /*width: 20px;*/

    /*display: none;*/
}
.top-right{
    position: absolute;
    top: 0;
    right: 0;
}
/*Adaptive to 360px width*/
@media (max-width: 360px) {
    .wrapper {
        padding: 155px 16px 0;
        /*margin-top: 150px;*/
    }

    .music_block {
        position: absolute;
        bottom: 90%;
        left: 85%;

    }
    .music_block img{
        width: 30px;
        margin-top: 2px;
    }
    .music_block p{
        font-size: 10px;
    }
    .sign{
        position: relative;
    }
    .sign img {
        width: 85px;
        position: absolute;
        right: 0;
    }
    .top-right, .bottom-left {
        display: none;
    }

    .top-left {
        top: -20px;
        left: -8px;
        width: 100px;
    }

    .content h1 {
        font-family: 'Campanella', sans-serif;
        font-weight: 400;
        font-size: 72px;
        line-height: 115px;
        color: #CEB076;
        font-size: 52px;
    }

    .content p {
        font-size: 18px;
        margin-top: 0;
    }

    .sign p {
        font-size: 17px;
    }
    .logo img{
        width: 90px;
    }
    .logo {
        margin: 60px 0 40px 0;
    }
}


/*height/width = padding + margin + border + height/width*/

/*До 576px*/