@import url('https://fonts.googleapis.com/css2?family=Comforter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
body{
    margin: 0;
    background-color: #1A5B35;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    box-sizing: border-box;
    position: relative;

}
.wrapper{
    width: 662px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.content {
    text-align: center;
}
.content h1{
    font-family: 'Comforter', sans-serif;
    font-weight: 400;
    font-size: 72px;
    line-height: 115px;
    color: #CEB076;
    margin: 0;
}
.content p{
    font-family: Poiret One, sans-serif ;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}
.sign{
    display: flex;
    justify-content: center;
    text-align: center;
}
.sign p{
    font-family: Poiret One, sans-serif ;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}
.logo{
    margin-top: 100px;
}

.top-left{
    position: absolute;
    top: 0;
    left: 0;
}
.bottom-left{
    position: absolute;
    bottom: 0;
    left: 0;
}
.music{
    position: absolute;
    bottom: 80px;
    left: 20px;

}
.music_text{
    position: absolute;
    width: 20px;
    bottom: 150px;
    left: 15px;
    color: white;
    font-family: Poiret One, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 11px;
    display: none;
}
.top-right{
    position: absolute;
    top: 0;
    right: 0;
}

@media (max-width: 576px){
    .wrapper{
        padding: 0 40px;
        margin-top: 150px;
    }
    .music_text{
        position: absolute;
        display: block;
        top: 20px;
        left: 78%;
    }
    .music{
        width: 46px;
        top: 50px;
        left: 80%;
    }
    .sign img{
        width: 80px;
    }
    .top-right, .bottom-left{
        display: none;
    }
    .top-left{
        top: -30px;
        width: 110px;

    }
    .content h1{
        font-size: 64px;
    }
    .content p{
        font-size: 14px;
    }
    .sign p{
        font-size: 16px;
    }

    }

    .logo img{
        width: 100px;
    }

/*height/width = padding + margin + border + height/width*/

/*До 576px*/